<html>
  <head>
    <title>BrickBrick Breaker</title>
    <script data-main="../js/app/" src="../js/lib/require.js"></script>
    <link rel="stylesheet" href="../css/brickBreaker.css"/>
    <script>
      require(['brickBreaker'])
    </script>
  </head>
  <body>
    <div id="titleBlock">
      <h1>WELCOME TO BRICKBRICK BREAKER</h1>
      <span id="subheader">Totally not a knockoff of BrickBreaker</span>
    </div>
    <canvas id="mainCanvas" width="480" height="320"></canvas>
  </body>
</html>
